<!DOCTYPE html>
<html>
<head>
  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.mask.js"></script>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Siri Law BR</title>
</head>
<body class="gray-bg">
  <div class="dashboard-content gray-bg">
    <div class="row">
      <div class="large-3 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius menu">
              <div class="item margin-bottom-20">
                <a href="/dashboard">Geral</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/edit" class="bold">Meus Dados</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/mural_queixas">Mural de Queixas</a>
              </div>
              <div class="item">
                <a class="orange-color" href="/signout">Sair</a>
              </div>
            </div>
          </div>
          <div class="columns margin-top-20">
            <a href="/" class="new-complaint fluid default-bt">NOVA QUEIXA</a>
          </div>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius">
              <div class="block">
                <% if (sessionFlash && sessionFlash.message) { %>
                <div class="row no-margin">
                  <div class="columns alert <%= sessionFlash.type %>">
                    <%= sessionFlash.message %>
                  </div>
                </div>
                <% } %>
                <div class="row gray-color">
                  <form action="/update" method="post">
                    <div class="large-6 columns">
                      <span>Nome:</span>
                      <input class="border-radius margin-top-10" type="text" name="name" value="<%= user.name %>" required>
                      <span>E-mail:</span>
                      <input class="border-radius margin-top-10" type="text" name="email" value="<%= user.email %>" required>

                      <span>Telefone:</span>
                      <input id="phone" class="border-radius margin-top-10" type="text" name="phone" value="<%= user.phone %>" required>
                      <span>CPF:</span>
                      <input id="cpf" class="border-radius margin-top-10" type="text" name="cpf" value="<%= user.cpf %>" required>
                    </div>
                    <div class="large-6 columns">
                      <div class="margin-bottom-20 gray-color bold">Endereço</div>
                      <span>CEP:</span>
                      <div class="row">
                        <div class="large-6 columns">
                          <input id="cep" class="border-radius margin-top-10" type="text" name="cep" value="<%= user.address_cep %>" required>
                        </div>
                        <div class="large-6 columns margin-top-20">
                          <a id="checkCep" class="orange-color" href="#">Consultar</a>
                        </div>
                      </div>
                      <span>Rua:</span>
                      <input id="street" class="border-radius margin-top-10" type="text" name="street" value="<%= user.address_street %>" required>
                      <span>Número:</span>
                      <input class="border-radius margin-top-10" type="text" name="number" value="<%= user.address_number %>" required>
                      <span>Complemento:</span>
                      <input class="border-radius margin-top-10" type="text" name="complement" value="<%= user.address_complement %>" required>
                      <span>Bairro::</span>
                      <input id="district" class="border-radius margin-top-10" type="text" name="district" value="<%= user.address_district %>" required>
                      <span>Cidade:</span>
                      <input id="city" class="border-radius margin-top-10" type="text" name="city" value="<%= user.address_city %>" required>
                      <span>Estado:</span>
                      <input id="state" class="border-radius margin-top-10" type="text" name="state" value="<%= user.address_state %>" required>
                    </div>
                    <div class="columns">
                      <button class="default-bt green fluid">SALVAR</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/home.js"></script>
<script>
  $("#phone").mask("(00) 000000000");
  $('#cpf').mask('000.000.000-00', {reverse: true});

  $("#checkCep").click(function(){
    var cep = $("#cep").val();

    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
      if (!("erro" in dados)) {
        $("#street").val(dados.logradouro);
        $("#district").val(dados.bairro);
        $("#city").val(dados.localidade);
        $("#state").val(dados.uf);
      }
    });
  })
</script>
</body>
</html>
